<div class="card container">
    <div class='card-header'>

    </div>
    <div class="row">
        <div class="col-3">
            <select class="" [(ngModel)]='typeProduct' (change)='searchProductBuType()'>
                <option value="all">
                    type
                </option>
                <option *ngFor="let type of listeTypeProduct" [value]="type">
                    {{type}}
                </option>

            </select>
        </div>
    </div>
    <div class="card-body">
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Chariot</th>
                        <th>Zone</th>
                        <th>Type</th>
                        <th>Quantite</th>
                        <th>Sav</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td> {{product.chariot }}</td>
                        <td>{{product.Zone}}</td>
                        <td>{{product.Type}}</td>
                        <td>{{product.Quantite}}</td>
                        <td>{{product.sav}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>